<% include ./partials/header %>

			<div class="container">
				<div class="center">
					<h1 class="titleCard">
						La Boutique
					</h1>
				</div>
				<br>
				<div class="row">
					<% for(var i = 0; i < posts.length; i++) { %>
						<div class="col-md-4 col-sm-12">
							<ul class="list-unstyled">
								<div class="card">
									<li class="media my-4">	
										<div class="media-body" id="first">
											<a href="/itemPage/<%=posts[i].id%>">
												<img class="mr-3 img-thumbnail solid" src="<%= posts[i].image_url %>">
											</a>
											<div class="container">
												<h5 class="mt-0 mb-1">
													<%= posts[i].item %>
												</h5>
												<p>
													<%= posts[i].description %>
												</p>
												<a href="/itemPage/<%= posts[i].id %>">
													<button type="button" class="btn btn-primary">
														Buy Now
													</button>
												</a>
												<a href="/itemPage/<%= posts[i].id %>">
													<button type="button" class="btn btn-info">
														Add to cart
													</button>
												</a>
												<p class="priceInput" >
													$<%= posts[i].price %>
												</p>
											</div>
										</div>
									</li>
								</div>
							</ul>
						</div>
					<% } %>	
				</div>
			</div>





	<%include ./partials/footer %>